footer {
    padding: 2rem 0;
    text-align: center;
    color: #909090;
    background: linear-gradient(220deg, rgba(0, 0, 0, .75), #2a3644);
}

footer div {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin: 1rem 0;
}

footer p {
    font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
    margin: 0.7rem 0 0 0;
}

#github {
    margin-right: 2.5rem;
    fill: #909090;
    transition: all .3s ease-in-out;
}

#linkedin {
    fill: #909090;
    transition: all .3s ease-in-out;
}


a {
    color: inherit;
}

@media not (max-width: 1024px) {
    #linkedin:hover {
        fill: #0044ff;
        /* background-color: #fff; */
    }

    #github:hover {
        fill: #fff;
    }

}

@media screen and (max-width: 1024px) {
    #linkedin {
        fill: #0044ff;
    }

    #github {
        fill: #fff;
    }
}