
footer {
    padding: 2rem 0;
    border-top: 1px solid #e9ecef5a;
    text-align: center;
    color: #868e96;
}

footer p {
    font-size: 1.5rem;  
    margin: 0.7rem 0 0 0;
}

ng-icon {
    font-size: 2rem;
    transition: all 0.5s ease;
}

#github {
    margin-right: 2.5rem;
}
    
#linkedin:hover {
    color: #0044ff;
    background-color: #fff;
}
 
#github:hover {
    color: #fff;
}
a {
    color: inherit;
}
@media screen and (max-width: 1024px) {
    #linkedin {
        color: #0044ff;
    background-color: #fff;
    }

    #github {
        color: #fff;
    }
}
