<main>
    <section class="landing-section">
        <div class="content landing-content" [@fadeAnimtaion]>
            <div>
                <h1>Hey, I'm Abdulrahman Almehdar</h1>
                <h2>IT Fresh Graduate</h2>
                <p>
                    I'm passionate about AWS, Docker, Terraform, and Python with a strong foundation in managing IT
                    infrastructure and automating tasks. Demonstrated adaptability and quick learning, with the ability
                    to quickly grasp and implement new technologies. Ready to leverage skills in cloud and network
                    technologies to drive innovation and efficiency.
                </p>
                <a class="projects-btn glow" href="#projects">View projects</a>
            </div>
            <a class="cli-btn glow" href="/cli">CLI View</a>
        </div>
    </section>
    <hr>
    <section class="projects-section content" id="projects">
        <h3>Projects</h3>
        <app-project-card />
    </section>
    <hr>
    <section class="certificates-section content" id="certificates">
        <h3>Certificates</h3>
        @defer (on viewport, timer(2s)) {
        <app-certificates-slider />
        } @placeholder {
        <div></div>
        }
    </section>
    <hr>
    @defer (on viewport, timer(2s)) {
    <app-footer></app-footer>
    } @placeholder {
    <div></div>
    }
</main>