img {
  width: 100%;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  img {
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  img {
    width: 55%;
  }
}

swiper-container::part(bullet-active) {
  background-color: #f08c00;
  padding: 0.1rem;
}