.container {
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.19);
    border-radius: 2rem;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.04);
    transition: all 0.5s linear;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
}

.explore-btn {
    font-size: clamp(1.4rem, 1vw + 1rem ,1.8rem);
    background-color: rgb(255, 255, 255, 0.1);
    padding: 0.5rem 2rem; 
}

.container p {
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin: 2rem 0;
}

.grid-items {
    gap: 5rem;
}

@media (min-width: 768px) {
    .grid-items {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .grid-items {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .container p {
        font-size: 1.5rem;
    }
    .container:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
        transform: scale(1.02);
    }
}

