/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&family=Nunito:wght@400;600;700&family=Open+Sans&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

html {
    font-family: nunito, "Open Sans";
    font-size: 62.5%;
    color: #fff;
    scroll-behavior: smooth;
}

section {
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

section:nth-of-type(even) {
    background-color: hsl(212, 24%, 20%);
}

h1 {
    font-size: clamp(3.8rem, 5vw + 1rem, 6.5rem)
}

h2 {
    font-size: clamp(2rem, 2vw + 1rem, 2.8rem);
    font-weight: 600;
    color: #f08c00
}

h3 {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 5rem;
}

h3::after {
    content: '';
    display: block;
    height: 0.25rem;
    background: linear-gradient(to right, #ff7e5f, #f08c00, #feb47b);
    border-radius: 2px;
}

h4 {
    font-size: 2.3rem;
    font-weight: 600;
}

p {
    font-size: clamp(1.2rem, 1vw + 1rem, 1.8rem);
    line-height: 3.3rem;
    margin: 2rem 0 5rem 0;
}

a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 2rem;
}

::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

.grid {
    display: grid;
}

.glow {
    box-shadow: 0px 0px 8px -2px rgba(240, 140, 0, 1);
}